body{
	font-family: 'Tienne', 'Palatino', 'Times New Roman', serif;
}

h2 {
	font-size: 14pt;
	color: #f0f0f0;
	background: #000;
	width: 100%;
	padding: 10px 0 10px 20px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#aar {
	position:absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 600px;
}

#dashboard {
	z-index: 3000;
	position:absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 400px;
	height: 200px;
	color: #ff0;
	padding: 10px;
}

#nearby-ctrl {
	margin: 10px 0 1em 0;
}

#nearby-radius {
	z-index: 5000;
	width: 300px;
	margin: 10px 0 1em 0;
}

#poi-info {
	z-index: 6000;
}

#poi-list {
	list-style-image:url('/img/poi.png');
	list-style-position: outside;
	margin: 1em 0 10px 20px;
}

#poi-list li {
	background: #f0f0f0;
	padding: 10px;
	width: 40%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.poi-interaction {
	cursor: pointer;
	font-size: 80%;
	margin: 0 0 0 20px;
	padding: 2px 5px;
	background: #000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

a.poi {
	color: #000;
}

#scribble-board {
	display: none;
	width: 20px;
	height: 20px;	
}

#flash {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5000;
	width:100%;
	height:500px;
	background-color:#c00;
	display:none;
}



object {
	display:block; /* HTML5 fix */
	position:relative;
	z-index:1000;
}